[Unit]
Description=Matrix Go-NEB
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-goneb
ExecStartPre=-/usr/bin/docker rm matrix-goneb
ExecStart=/usr/bin/docker run --rm --name matrix-goneb \
			--log-driver=none \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			-v {{ matrix_goneb_base_path }}:/data:rw \
			-e "BIND_ADDRESS=:{{ matrix_goneb_container_port }}" \
			-e "CONFIG-FILE=/data/config.yml" \
			-e "BASE_URL={{ matrix_goneb_container_public_url }}" \
			-e "LOG_DIR=/data/log" \
			{{ matrix_goneb_docker_image }}
ExecStop=-/usr/bin/docker kill matrix-goneb
ExecStop=-/usr/bin/docker rm matrix-goneb
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
