[Unit]
Description=Matrix Go-NEB
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-goneb
ExecStartPre=-/usr/bin/docker rm matrix-goneb
ExecStart=/usr/bin/docker run --rm --name matrix-goneb \
			--log-driver=none \
			--user={{ matrix_dimension_user_uid }}:{{ matrix_goneb_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			{% if matrix_goneb_widgets_allow_self_signed_ssl_certificates %}
			-e NODE_TLS_REJECT_UNAUTHORIZED=0 \
			{% endif %}
			{% if matrix_goneb_container_expose_port %}
			-p 127.0.0.1:8184:8184 \
			{% endif %}
			-v {{ matrix_goneb_base_path }}:/data:rw \
			{{ matrix_goneb_docker_image }}
ExecStop=-/usr/bin/docker kill matrix-goneb
ExecStop=-/usr/bin/docker rm matrix-goneb
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
